---
import Layout from "../layouts/Layout.astro";
import "../../src/styles/util.scss";
---

<Layout title="Travelgran | OFS">
  <main>
    <p>Text</p>
  </main>
</Layout>

<style lang="scss">
  @use "../styles/util";
</style>
